#pageFrame {
    width: 100%;
    height: 100%;
}

#pageFrame .text {
    white-space: nowrap;
    text-align: center;
}

.page {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.page1 {
    background: #ebeaf0 url('../images/about/13.jpg') no-repeat center 120px;
}

.page1 .text {
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 1;
}

.page1 .text span {
    display: block;
    font-size: 20px;
    line-height: 2;
    opacity: 0;
}

.page1 i {
    position: absolute;
}

.page1 .flash-tree {
    width: 100%;
    height: 100%;
    background: url('../images/white_orange.png') no-repeat 49.58% 370px;
    background-size: 80px;
    opacity: 0;
    animation-delay: 2.4s;
}

.page1 .matte{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(#EBEAF0,#fff)
}
.page1 .nextPage {
    width: 100%;
    height: 64px;
    bottom: 0;
    background: url('../images/next.png') no-repeat center bottom;
    background-size: auto 75%;
    animation-iteration-count: infinite;
    z-index: 2;
}

.page2 {
    background: #1d1d1b url('../images/about/09.jpg') no-repeat -200px;
    background-size: cover;
}

.page2 .text {
    position: absolute;
    top: 180px;
    left: 780px;
    font-size: 20px;
    line-height: 2;
    color: #fff;
}

.page2 .text span {
    display: block;
    opacity: 0;
}

/* .page2 .gridBg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../images/about/grid.png') repeat;
} */

.page3 {
    width: 100%;
    height: 500px;
    background: url('../images/about/07.jpg') no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
}

.page3 li {
    width: 50%;
    height: 200px;
    position: absolute;
}

.page3 .l1 {
    left: 0;
    top: 0;
}

.page3 .l2 {
    left:700px;
    bottom: 0;
}

.page3 .text {
    position: absolute;
    display: none;
}

.page3 .l1 .text {
    left: 80px;
    bottom: 20px;
}

.page3 .l2 .text {
    left: 200px;
    top: 20px;
}

.page3 i {
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #fff;
}

.page3 .l1 i {
    left: 60px;
    bottom: 0;
}

.page3 .l2 i {
    left: 160px;
    top: 0;
}

.lineShow {
    width:420px !important;
    transition: width 1.6s;
}

.page3 span {
    display: block;
    line-height: 2;
    font-size: 16px;
}
