#progressBar {
	position: fixed;
	width: 0;
	height: 2px;
	top: 64px;
	left: 0;
	background-color: #ff9f00;
	z-index: 99999;
}
.progress {
	width: 100% !important;
	transition-property: width;
	transition-timing-function: ease-out;
}
