body {
    background-color: #fff;
}

.nav a {
    color: #fff;
}

.page {
    width: 100%;
    height: 95%;
    position: relative;
    overflow: hidden;
}

.content {
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 2;
}

.content .title {
   	height: 120px;
}

.content h1 {
    font-size: 32px;
    line-height: 2.8;
    margin-top: 20px;
}

.content .text {
    font-size: 20px;
    line-height: 1.8;
}
.page .scope {
    margin-top: 36px;
}

.scope span {
    display: inline-block;
    line-height: 2;
    text-indent: 20px;
    font-size: 18px;
    color: #000;
    position: relative;
}

.scope span::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 15px;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 4px;
    z-index: 10;
}

.page h1,.page .scope div,.page .text,.page .img{
	opacity: 0;
}
.delay15{
	animation-delay: 1.5s !important;
}
.delay30{
	animation-delay: 3s !important;
}

/* 以上为公共样式部分 */
.page1{
    background-color: #f6f6f6;
}
.page1 .gradient-text {
    color: #60e2cd;
    background: -webkit-linear-gradient(45deg, #60e2cd, #bce0d2 40%, #dfada0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    width: 530px;
    font-weight: bold;
}
.page1 .scope span {
    width: 200px;
}

.page1 .img {
    position: absolute;
    z-index: 3;
    height: 340px;
    top: 150px;
    left: 760px;
    animation-duration: 1.8s;
}

.page1::after {
    content: "";
    position: absolute;
    left: 600px;
    transform: skew(30deg);
    background-color: #CC04CC;
    width: 100%;
    height: 100%;
}
.page2{
	background-color: #fff;
}

.page2 .img {
    width: 250px;
    position: absolute;
    left: 950px;
    top: 160px;
}

.page2 .scope {
    position: absolute;
    left: 200px;
    bottom: 50px;
}

.page2 .scope span {
    width: 120px;
}


.page3 {
	background-color: #E8E8E8;
}
.page3 .app{
	position: absolute;
	left: 1350px;
	bottom: 0;
}
.page3 .app img{
	opacity: 0;
	position: absolute;
	bottom: 0;
}

.page3 .app1{
	height: 500px;
	z-index: 3;
	right: 250px;
}
.page3 .app2{
	z-index: 2;
	height: 420px;
	right: 170px;
}
.page3 .app3{
	height: 350px;
	z-index: 1;
	right: 95px;
}

.page3 .scope {
	bottom: 20px;
}
.page3 .scope span {
	width: 120px;
}