html,body{
    height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
th,
td,
input,
button,
pre,
form,
textarea,
select {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
i,
em {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
i,
em,
th {
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

a {
    text-decoration: none;
}

input {
    vertical-align: top;
    border: none;
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
    outline: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    padding: 0;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}

.clearfix {
    zoom: 1;
}
/* 当行超出 */
.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 多行超出 */
.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}