<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../vue-2.1.3.js"></script>
</head>

<body>
    <h2>单选框,结合value</h2>
    <div id="box">
        <p>
            当第1个选中时，v-model="xxx"中 "xxx" 为字符串 "男1号"。
            当第2个选中时，v-model="xxx"中 "xxx" 为字符串 "女2号"
        </p>
        <label>
            <input type="radio" name="sex" value="男1号" v-model="xxx">男
        </label>
        <label>
            <input type="radio" name="sex" value="女2号" v-model="xxx">女
        </label>
        <h1>已选中：{{xxx}}</h1>
    </div>
    <script>
    new Vue({
        el: "#box",
        data: {
            xxx: ''
        }
    })
    </script>
</body>

</html>
